#datosArq{
    background-color:rgb(62, 56, 124);
    padding: 40px;
    border-radius: 40px;
    width: 300px;
    margin: auto;
    text-align:center;
    font-size: 22px;
    }
    body {
        background-color: rgb(29, 29, 83);
    }
button {
    background-color:rgb(88, 82, 153);
    padding: 40px;
    border-radius: 40px;
    width: 300px;
    margin: auto;
    font-size: 30px;
}